[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true #guarantee the security of installed packages

[dev-packages]
flake8 = "*"
pytest-cov = "*"
codecov = "*"
pytest-django = "*"

[packages]
django = "*"
gunicorn = "*"
python-decouple = "*"
requests = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-s3-folder-storage = "*"
djangorestframework = "*"
django-filter = "*"

[requires]
python_version = "3.8"
